<h1>Join Event</h1>

<%= form_for @conn, Routes.live_events_path(@conn, :join), fn f -> %>
  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :join_code %>
  <%= text_input f, :join_code %>
  <%= error_tag f, :join_code %>

  <div>
    <%= submit "Join" %>
  </div>
<% end %>
